.home{
    animation: 3s ease normal  1 fadein ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

